body{
    background: #000000dc !important;
}
.font-family{
  font-family :"Quicksand variant0", "Tofu";
}

.collapse a{
    color:#fff !important ;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2em;
    text-decoration: none;
    font-family :"Quicksand variant0", "Tofu";
}
.collapse a:hover{
    color:#000000 !important ;
}
.site-hero{
    background-image: url(img/full.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    /* background: rgba(25, 26, 24, 0.89); */
    opacity: 0.9;
}
.strong-text{
   font-weight: 900;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
/* .siteslick.img:hover{
    color:#000000 ;
} */


/* <-----------slider section start-----------> */



 .slide-text{
    align-items: flex-end;
    /* background: #d33333; */
    border-radius: 15px;
    box-shadow: 0 7px 10px rgba(228, 213, 213, 0.5);
    display: flex;
    height: 360px;
    margin: 10px;
    position: relative;
}

/* .slide-text .info{
   opacity: 0.8;
   position: absolute;
   top: 90px;
  right: 120px;
   transition: 0.5s;
   z-index: 1/1;
}
.slide-text .info button{
     background: #fff !important;
    border-radius: 5px !important;
    color: black !important;
    font-weight: 500;
} */
.info h5{
    position: relative;
    transform: translate(-50%, -50%);
    scale: (0);
    display: flex;
    align-items: center;
    justify-content:center ;
    transition:.5s;
    background-color: #000000dc;
    color: white;
    font-size: 23px;
    font-weight: 500;
    font-family:"Quicksand variant0", "Tofu";
    border-radius: 10px;
    line-height: 35px;
}
.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    text-align: center;
}


/* <-----------slider section end-----------> */